openapi: 3.2.0
info:
  title: Vidu Tasks API
  description: Generative video AI API from Shengshu Technology.
  version: '2.0'
  contact:
    name: Vidu Platform
    url: https://platform.vidu.com/docs
  x-modeled: true
  x-modeled-note: 'Endpoint paths, HTTP methods, base URL, model names, and the "Authorization: Token" auth scheme are confirmed from public Vidu docs. Property-level request/response fields are modeled from documentation descriptions, not machine-generated from an official OpenAPI, so field types and enums should be verified on integration.'
servers:
- url: https://api.vidu.com/ent/v2
  description: Vidu enterprise generation API (v2)
security:
- viduToken: []
tags:
- name: Tasks
  description: Poll, list, and cancel generation tasks.
paths:
  /tasks/{id}/creations:
    get:
      operationId: getTaskCreations
      tags:
      - Tasks
      summary: Get the status and results of a generation task
      description: Poll the status of an asynchronous generation task. When state is "success", the creations array carries the finished video URL(s) and cover image(s).
      parameters:
      - name: id
        in: path
        required: true
        description: The task_id returned when the generation task was created.
        schema:
          type: string
      responses:
        '200':
          description: Task status and any finished creations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatus'
components:
  schemas:
    TaskStatus:
      type: object
      properties:
        id:
          type: string
          description: The task_id.
        state:
          type: string
          enum:
          - created
          - queueing
          - processing
          - success
          - failed
        err_code:
          type:
          - string
          - 'null'
        credits:
          type: integer
        creations:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              url:
                type: string
                format: uri
                description: URL of the finished video.
              cover_url:
                type: string
                format: uri
                description: URL of the poster/cover image.
  securitySchemes:
    viduToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as "Authorization: Token {api_key}" (keys are prefixed vda_). This is a token scheme, not standard HTTP Bearer.'
